body {
    
    background: url(/static/assets/bg.gif);
    color: white;
    font-family: monospace;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;

}

.titlebar {
    text-align: center;
}

.box {

    background: rgba(0, 0, 0, 0.8);
    border: 2px solid purple;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 5px;
    
}

a:link {

    color: purple;
    text-decoration: none;

}

#content {
    width: 50%;
}

#main-pane {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#content-pane, #sidenav {
    height: 80vh;
}

#sidenav {

    width: 25%;
    font-size: 12pt;

    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1080px) {
    #content {
        width: 90%;
    }

    #main-pane {

        flex-direction: column;
        width: 96%;

    }
    
    #content-pane, #sidenav {
        height: 100%;
        width: 100%;
    }

    #sidenav {

        flex-direction: row;

    }

    #sidenav a {

        margin-left: 10px;

    }
    
}
