


.post {
    border: 2px solid purple;
    height: 10%;
    /* position: relative;
    object-fit: contain; */
}

.post-img {
    /* width: fit-content;
    height: fit-content;
    position: relative;
    width: fit-content; */
}