.post {
    border: 2px solid purple;
    height: 10%;
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
}

.post img {
    display: block;
    height: 100%;
}

.post span {
    margin-left: 10px;
    margin-top: 1%;
}
