.post {
    border: 2px solid purple;
    height: 8vh;
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.post img, .post a {
    display: block;
    height: 100%;
    object-fit: cover;
}

.post span {

    display: block;

    margin-left: 10px;
    text-align: left;
    line-height: 10px;
}