<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/contact.css">
    </head>
    <body>
        <input type="checkbox" id="toggle">
        <div id="content">
            <div class="box titlebar">
                <h1>{{title}}</h1>
            </div>
            <div id="main-pane">
                <div class="box" id="sidenav">
                    <a href="/">Home</a>
                    <a href="/projects">Projects</a>
                    <a href="/contact">Contact me</a>
                    <a href="/r/hmm">???</a>
                    <label id="login-btn" for="toggle">Login</label>
                </div>
                <div class="box" id="content-pane">
                    <h2 style="color: gray;">Nothing here, for now</h2>
                </div>
            </div>
        </div>

        <div id="login-modal-container">
            <div id="login-modal">

                <h1>login <labeL for="toggle">(x)</labeL></h1>
                <p>secrets beyond human comprehension lie beneath this unassuming login screen</p>

                <div class="container">
                    <div class="form-group">
                        <label for="uname"><b>Email:</b></label>
                        <input type="text" name="uname" required>
                    </div>

                    <div class="form-group">
                        <label for="psw"><b>Password:</b></label>
                        <input type="password" name="psw" required>
                    </div>

                    <br>

                    <button type="submit">Login</button>
                    <br>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                  </div>

            </div>

        </div>

    </body>

</html>
