<!DOCTYPE html>
<html>

    <head>

        <title>placeholder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/global.css">
        <link rel="stylesheet" href="/static/css/index.css">

    </head>

    <body>

        <input type="checkbox" id="toggle">

        <div id="content">

            <div class="box titlebar">

                <h1>Placeholder</h1>

            </div>



            <div id="main-pane">


                <div class="box" id="sidenav">

                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <a href="#">Home</a>
                    <label id="login-btn" for="toggle">Login</label>

                </div>

                <div class="box" id="content-pane">


                    <p>{{placeholder}}</p>

                    <div class="post">
                        <img class="post-img" src="/static/assets/uwu.jpg" alt="post img">
                        <span>
                            <h2 class="post-title">Title text</h3>
                            <p class="post-desc">Description text</p>
                        </span>
                    </div>

                    <div class="post">
                        <img class="post-img" src="/static/assets/uwu.jpg" alt="post img">
                        <span>
                            <h2 class="post-title">Title text</h3>
                            <p class="post-desc">Description text</p>
                        </span>
                    </div>

                </div>

            </div>

        </div>

        <div id="login-modal-container">

            <div id="login-modal">
                        
                <h1>login <labeL for="toggle">(x)</labeL></h1>
                <p>secrets beyond human comprehension lie beneath this unassuming login screen</p>
    
                <div class="container">

                    <div class="form-group">
                        <label for="uname"><b>Email:</b></label>
                        <input type="text" name="uname" required>
                    </div>

                    <div class="form-group">
                        <label for="psw"><b>Password:</b></label>
                        <input type="password" name="psw" required>
                    </div>
                      
                    <br>

                    <button type="submit">Login</button>
                    <br>
                    <label>
                      <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                  </div>

            </div>

        </div>

    </body>

</html>
