<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/htmx.org@1.9.11"></script> -->
</head>
<body>
    <div id="nav">
        <a class="nav-logo" href="#home"> <img src="/static/logo.svg" alt="Website Logo"> </a>
        <a class="nav-btn nav-btn-active" href="#home">Home</a>
        <a class="nav-btn" href="#projects">Projects</a>
        <a class="nav-btn" href="#contact">Contact</a>
        <a class="nav-btn" href="#supportme">Support Me</a>
    </div>

    <!-- <h1>{{placeholder}}</h1> -->
</body>
</html>